.parentDiv {
    text-align: center;
    display: flex;
}

.jeopardyClue {
    background-color: #060CE9;
    color: white;
    font-size: 14px;
    width: 500px;
    text-align: center;
    padding: 30px 10px 0px 10px;
}

#answerBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    justify-items: center;
}

#answerBox button {
    margin: 0;
}